<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Shop</h1>
    <% data.forEach(item=>{ %>
      <div class="">
        <h2><%= item.name %></h2>
        <h4><%= item.price %></h4>
      </div>
    <% }) %>
  </body>
</html>
