* {
  box-sizing: border-box;
  outline: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.dropzone {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggedItem {
  width: 90px;
  height: 90px;
  padding: 2px;
  border: 2px solid green;
  border-radius: 20%;
  background-color: lightgreen;
}

.startDragging {
  border: 2px solid blue;
  border-radius: 40%;
  background-color: lightblue;
}

.changeColor {
  border: 2px solid rgb(207, 66, 23);
  border-radius: 40%;
  background-color: rgb(214, 96, 87);
}
.dropzoneColor {
  border: 2px solid rgb(238, 255, 1);
  border-radius: 40%;
  background-color: rgb(44, 235, 6);
}
