div {
  height: 100px;
}

#div1 {
  background-color: red;
}

#div2 {
  background-color: blue;
}

#div3 {
  background-color: green;
}

#div4 {
  background-color: purple;
}
/* 
The logical keywords "not" or "only" can be used optionally to include or exclude specific media types or screen sizes */
@media only screen and (min-width: 600px) {
  div {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  div {
    width: 50%;
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  div {
    width: 25%;
    float: left;
  }
}
